.General_Product_Edit_Main {
    padding: 20px;
}

.product-edit-table {
    width: 100%; 
    border-collapse: collapse;
    margin-top: 20px; 
}

.product-edit-table th,
.product-edit-table td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd; 
}

.product-edit-table th {
    font-weight: bold;
    background-color: #b9acac; 
}

.editable-input {
    width: 100%; 
    padding: 8px;
    border: 1px solid #ddd;
    box-sizing: border-box; 
    font-size: 14px;
}

.editable-input:focus {
    outline: none;
    border-color: #007bff; 
    background-color: #767676; 
}
