.General_Product_Edit {
    display: flex;
    gap: 20px;
}
.General_Product_Edit_Main {
    width: 1000px;
}
.Edit_Product_Name {
    display: flex;
    gap: 20px;
}

.Input_Edit_Name {
    height: 30px;
    background-color: white;
    border: 1px solid #ccc;
    position: relative;
    top:12px;
    width: 100%;
}

.Edit_Product_Description {
    display: flex;
    gap:20px;
    margin-top: 20px;
}

.Input_Edit_Description {
    width: 100%;
    height: 100px;
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    resize: vertical;
}
.Edit_Mega_Tag_Title{
    display: flex;
    gap: 20px;
}
.Input_Mega_Tag_Title{
    height: 30px;
    background-color: white;
    border: 1px solid #ccc;
    position: relative;
    top:12px;  
    width: 100%; 
}
.Mega_Tag_Description{
    display: flex; 
    justify-content: space-between;
}
.Input_Mega_Tag_Description{
    width: 100%;
    height: 100px;
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    resize: vertical;
}
.Mega_Tag_Keywords{
    display: flex;
    justify-content: space-between;
}
.Input_Mega_Tag_Keywords{
    width: 100%;
    height: 100px;
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    resize: vertical;
}
.Product_Tags {
    display: flex;
    gap: 20px;
}

.Input_Product_Tags {
    height: 30px;
    background-color: white;
    border: 1px solid #ccc;
    position: relative;
    top:12px;
    width: 100%;
}